[submodule "proto/api"]
	path = proto/api
	url = https://github.com/bergundy/temporal-api
	branch = standalone-nexus-op
[submodule "proto/api-cloud"]
	path = proto/api-cloud
	url = https://github.com/temporalio/api-cloud
