[submodule "proto/api"]
	path = proto/api
	url = https://github.com/temporalio/api
	branch = poller-scaling
[submodule "proto/api-cloud"]
	path = proto/api-cloud
	url = https://github.com/temporalio/api-cloud
