//go:build experimental

package {{ .Service.PackageName }}

import stable "{{ .Service.StableImportPath }}"

const (
{{- range .Enums }}
	{{ .ValueName }} stable.{{ .StableEnum }} = {{ .ValueNumber }}
{{- end }}
)
